.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-form input{
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 40px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
}


.login-wrapper{
    padding: 20px;
    width: 30%;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-login-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.login-btn{
    width: 40%;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    background-color: teal;
    color: white;
    margin-top: 7px;
}

.login-links{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.login-links a{
    text-decoration: underline;
    color: black;
    font-size: 12px;
    margin: 5px 0px;
}
