.navbar-container {
    height: 60px;
}

.navbar-wrapper {
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-navbar-content{
    flex: 1;
    display: flex;
    align-items: center;
}

.center-navbar-content{
    flex: 1;
    text-align: center;
}

.right-navbar-content{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-lan {
    font-style: 14px;
    cursor: pointer;
    user-select: none;
}


.navbar-search-container{
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.navbar-input {
    border: none;
    outline: none;
    padding: 0px 5px;
}

.navbar-menu-item {
    font-style: 14px;
    cursor: pointer;
    margin-right: 25px;
}

.navbar-search-icon{
    color: gray;
    font-style: 16px;
    cursor: pointer;
}

.navbar-cart-icon{
    cursor: pointer;
}

.cart-icon-wrapper{
    cursor: pointer;
}