.slider-container {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.slider-right-arrow {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 25px;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition: all 0.4s ease;
    opacity: 0.8;
}

.slider-right-arrow:hover {
    border: 1px solid rgb(0, 0, 0, 0.8);
}

.slider-left-arrow {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 25px;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.4s ease;
    z-index: 2;
}

.slider-left-arrow:hover {
    border: 1px solid rgb(0, 0, 0, 0.8);
}

.slider-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(0vw);
}

.slide{
    display: flex;
    align-items: center;
    height: 90vh;
    width: 99vw;
}

.slide-image-container{
    height: 100%;
}

.slide-info-container{
    flex: 1;
    padding: 50px 100px;
}

.slide-image{
    height: 80%;
    margin-left: 100px;
}

.slider-main-title{
    font-size: 40px;
}

.slider-discription{
    margin: 30px 0px 30px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.slider-button{
    background: #0a3241;
    border: none;
    color: white;
    padding: 0.5em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition: all 0.3s ease;
}

.slider-button:hover{
    background: #0e3948;
    box-shadow:  #154c60 0px 3px 8px;
}

.slider-price{
    font-size: 40px;
    margin-top: 25px;
    display: inline-block;
    padding: 5px 10px;
    background-color:#0a3241;
    color:white;
}

@media screen and (min-width: 0px) and (max-width: 767px){
    .slide-image-container{
        height: 260px;
        margin-top: 10px;
        object-fit: cover;
    }
    .slider-container{
        margin-bottom: 20px;
    }
    .slide{
        height: 370px;
        flex-direction: column;
        justify-content: center;
    }
    .slide-image{
        height: 100%;
        margin-left: 0px;
    }
    .slider-left-arrow{
        width: 25px;
        height: 25px;
    }
    .slider-right-arrow{
        width: 25px;
        height: 25px;
    }
    .slide-info-container{
        width: 70vw;
        font-size: 14px;
        height: 100%;
        padding: 5px 10px;
    }
    .slider-price{
        margin-top: 10px;
        font-size: 12px;
    }
    .slider-main-title{
        font-size: 10px;
    }
    .slider-discription{
        display: none;
    }
    .slider-button{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .slide-image-container{
        height: 500px;
        margin-top: 10px;
        object-fit: cover;
    }
    .slider-container{
        margin-top: 20px;
    }
    .slide{
        height: 600px;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 70px;
    }
    .slide-image{
        height: 100%;
        margin-left: 0px;
    }
    .slider-left-arrow{
        width: 25px;
        height: 25px;
    }
    .slider-right-arrow{
        width: 25px;
        height: 25px;
    }
    .slide-info-container{
        width: 70vw;
        font-size: 14px;
        height: 100%;
        padding: 5px 10px;
    }
    .slider-price{
        margin-top: 10px;
        font-size: 17px;
    }
    .slider-main-title{
        font-size: 30px;
    }
    .slider-discription{
        display: none;
    }
    .slider-button{
        display: none;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px){
    .slide-image-container{
        height: 500px;
        margin-top: 10px;
        object-fit: cover;
    }
    .slider-container{
        margin-top: 20px;
    }
    .slide{
        height: 60vh;
        justify-content: center;
        margin-bottom: 45px;
    }
    .slide-image{
        height: 100%;
        margin-left: 0px;
    }
    .slider-left-arrow{
        width: 25px;
        height: 25px;
    }
    .slider-right-arrow{
        width: 25px;
        height: 25px;
    }
    .slide-info-container{
        width: 70vw;
        font-size: 14px;
        padding: 5px 10px;
    }
    .slider-price{
        display: none;
    }
    .slider-main-title{
        font-size: 30px;
        width: 80%;
    }
    .slider-discription{
        font-size: 10px;
        padding: 10px 10px 10px 0px;
        margin: 0;
    }
    .slider-button{
        margin-top: 25px;
    }
}