
.filter-container{
    display: flex;
    justify-content: space-between;
}

.filter{
    margin: 20px 50px;
    display: flex;
    align-items: center;
}

.filter-text{
    font-size: 20px;
    font-weight: 600;
}

.prodact-list-title{
    margin: 20px 50px;
}

.filter-select-company{
    margin-left: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: none;
}

.filter-select-size{
    margin-left: 15px;
    padding: 8px;
    border: none;
    border-radius: none;
}

@media screen and (max-width: 380px){
    
}